<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
	<include file="__TEMPLATE__/header.html"/>

	<!-- 主体区域 -->
	<div id="main">
		

		<!-- 左侧区域 -->
		<div class="left">
			<!-- 列表页介绍 -->
			<div class="list_description">列表描述</div>
			<!-- 列表页介绍结束 -->
			<ul class="arc_list">
				<arclist pageRows="1">
				<li>
					<div class="pic">
						<img src="{$field.thumb}" style="height:110px;width:150px;" />
					</div>
					<h3><a href="">{$field.title}</a></h3>
					<span class="date">{$field.sendtime|date:'m-d',@@}</span>
					<a href="" class="comment">{$field.total}条评论</a>
					<span class="browse_number">{$field.click}次浏览</span>
					<p class="description">{$field.digest}</p>
				</li>
				</arclist>
			</ul>

			<!-- 分页 -->
			<ul class="pagelist">
				{$page}
			</ul>
			<!-- 分页结束 -->
		</div>
		<!-- 左侧区域结束 -->
		<!-- 右侧区域 -->
<div class="right">
			<div class='hd_title'>
				<strong>标签云</strong>	
			</div>
			<div id="tagBox" class='tags'>
				<tag tid="1">
				<a href="">php</a>	
				<a href="">js</a>				
				</tag>
			</div>
			<div class='hd_title'>
				<strong>热门文章</strong>	
			</div>
			<ul class='arc_list'>
					<li>
						<div class='image'>
							<a href="">
								<img src="" alt=""/>
							</a>
						</div>
						<h2><a href="">标题...</a></h2>
						<p>
							<em>2011-1-1</em><span>20条评论</span>
						</p>
					</li>
					<li>
						<div class='image'>
							<a href="">
								<img src="" alt=""/>
							</a>
						</div>
						<h2><a href="">标题...</a></h2>
						<p>
							<em>2011-1-1</em><span>20条评论</span>
						</p>
					</li>
				
			</ul>
			<div class='hd_title'>
				<strong>推荐文章</strong>	
			</div>
			
			<ul class='arc_list'>
				
				<li>
						<div class='image'>
							<a href="">
								<img src="" alt=""/>
							</a>
						</div>
						<h2><a href="">标题...</a></h2>
						<p>
							<em>2011-1-1</em><span>20条评论</span>
						</p>
					</li>
					<li>
						<div class='image'>
							<a href="">
								<img src="" alt=""/>
							</a>
						</div>
						<h2><a href="">标题...</a></h2>
						<p>
							<em>2011-1-1</em><span>20条评论</span>
						</p>
					</li>
			
			</ul>
		</div>
		<!-- 右侧区域结束 -->

	</div>
	<!-- 主体区域结束 -->
	<!-- 底部浅灰色导航区域 -->
	<div id="bottom_menu_box" style="margin-top:30px;">
		<div class="bottom_menu">
			<dl>
				<dt><a href="">百度</a></dt>
			</dl>
			<dl>
				<dt><a href="">百度</a></dt>
			</dl>
		</div>
	</div>
	<!-- 底部浅灰色导航区域结束 -->

	<!-- 底部版权区域 -->
	<div id="bottom_copyright_box">
		<div class="bottom_copyright">
			版权信息
		</div>
	</div>
	<!-- 底部版权区域结束 -->
	
</body>
</html>
