<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>标签管理</title>
    <style type="text/css">
		table{
			color: #666;
		}
    </style>
    <link rel="stylesheet" type="text/css" href="__STATIC__/hdjs/hdjs.css"/>
</head>
<body>
<div class="wrap">
    <div class="hd-title-header">添加标签</div>
    <form action="" method="post" class="form-inline hd-form">
        <table class="hd-table hd-table-form hd-form">
            <tr>
                <th class="w100">标签名称</th>
                <td width="300">
                    <textarea name="tagname" style="width:280px;" cols="20" rows="8"></textarea>
                </td>
                <td>
                	按照回车分割，可以一次添加多个标签
                </td>
            </tr>
        </table>
         <input type="submit" class="hd-btn hd-btn-success hd-btn-xm" value="添加" style="margin-top:20px;margin-left:20px;"/>
    </form>
</div>
</body>
</html>