<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/hdjs/hdjs.css"/>
	<link rel="stylesheet" href="__PUBLIC__/Css/common.css" />
	<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
</head>
<body>
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span12">

	<form action="" method='post'>
		<table class='table table-bordered table-hover'>
			<tr>
				<th>货品ID</th>
				<foreach from="$spec" key="$k" value="$v">
					<th>{$v.taname}</th>
				</foreach>
				<th>库存</th>
				<th>货号</th>
				<th>操作</th>
			</tr>
			<foreach from="$listData" key="$k" value="$v">
			<tr>
				<td>{$v.glid}</td>
				<foreach from="$v['spec']" key="$kk" value="$vv">
					<td>{$vv}</td>
				</foreach>
				<td>库存</td>
				<td>货号</td>
				<td>
					<a href="">修改</a>
					<a href="">删除</a>
				</td>
			</tr>
			</foreach>
			<tr>
				<td>添加</td>
				<foreach from="$spec" key="$k" value="$v">
				<td>
					<select name="">
						<option value="">请选择</option>
						<foreach from="$v['option']" key="$kk" value="$vv">
						<option value="">{$vv.gtvalue}</option>
						</foreach>
					</select>
				</td>
				</foreach>
				<td>
					<input type="text" name="" id="" />
				</td>
				<td>
					<input type="text" name="" id="" />
				</td>
				<td>
					
				</td>
			</tr>
		</table>
		<input type="submit" value='保存添加' class="hd-btn" style="height: 50px;"/>
	</form>

	</div>
	</div>
	</div>
</body>
</html>